# Arvore de Decisao

In [105]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [106]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('australian.dat', sep=' ', na_values='?',names=['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13'])
dataset

             A1  A2  A3  A4     A5  A6  A7  A8  A9  A10  A11   A12  A13
1 22.08  11.460   2   4   4  1.585   0   0   0   1    2  100  1213    0
0 22.67   7.000   2   8   4  0.165   0   0   0   0    2  160     1    0
  29.58   1.750   1   4   4  1.250   0   0   0   1    2  280     1    0
  21.67  11.500   1   5   3  0.000   1   1  11   1    2    0     1    1
1 20.17   8.170   2   6   4  1.960   1   1  14   0    2   60   159    1
...         ...  ..  ..  ..    ...  ..  ..  ..  ..  ...  ...   ...  ...
  31.57  10.500   2  14   4  6.500   1   0   0   0    2    0     1    1
  20.67   0.415   2   8   4  0.125   0   0   0   0    2    0    45    0
0 18.83   9.540   2   6   4  0.085   1   0   0   0    2  100     1    1
  27.42  14.500   2  14   8  3.085   1   1   1   0    2  120    12    1
1 41.00   0.040   2  10   4  0.040   0   1   1   0    1  560     1    1

[690 rows x 13 columns]

In [107]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

             A1  A2  A3  A4     A5  A6  A7  A8  A9  A10  A11   A12  A13
1 22.08  11.460   2   4   4  1.585   0   0   0   1    2  100  1213    0
0 22.67   7.000   2   8   4  0.165   0   0   0   0    2  160     1    0
  29.58   1.750   1   4   4  1.250   0   0   0   1    2  280     1    0
  21.67  11.500   1   5   3  0.000   1   1  11   1    2    0     1    1
1 20.17   8.170   2   6   4  1.960   1   1  14   0    2   60   159    1
...         ...  ..  ..  ..    ...  ..  ..  ..  ..  ...  ...   ...  ...
  31.57  10.500   2  14   4  6.500   1   0   0   0    2    0     1    1
  20.67   0.415   2   8   4  0.125   0   0   0   0    2    0    45    0
0 18.83   9.540   2   6   4  0.085   1   0   0   0    2  100     1    1
  27.42  14.500   2  14   8  3.085   1   1   1   0    2  120    12    1
1 41.00   0.040   2  10   4  0.040   0   1   1   0    1  560     1    1

[690 rows x 13 columns]

In [108]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'A13')
X = dataset.loc[:, dataset.columns != 'A13'] 
y = np.array(dataset.loc[:, dataset.columns == 'A13']).ravel()

In [109]:
#Define os parametros do metodo de Arvore de Decisao
parameters= {'criterion':['gini'],'max_depth':[4,5,6,7,8,9,10,11,12,15,20,30,40,50,70,90,120,150], 'random_state': [56]}

In [110]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.26, stratify=y, random_state=56)

In [111]:
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV
# importa a arvore de decisão
from sklearn.tree import DecisionTreeClassifier
# instancia o classificador 
clf = DecisionTreeClassifier()
gs_tree = GridSearchCV(clf,parameters, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_tree.fit(X,y)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini'],
                         'max_depth': [4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 20, 30,
                                       40, 50, 70, 90, 120, 150],
                         'random_state': [56]},
             scoring='accuracy')

In [112]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs_tree.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_random_state,params,split0_test_score,split1_test_score,...,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003886,0.000831,0.001870,0.000462,gini,4,56,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.884058,0.927536,...,0.840580,0.855072,0.913043,0.753623,0.840580,0.840580,0.768116,0.837681,0.059332,1
1,0.003680,0.000244,0.001574,0.000116,gini,5,56,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.884058,0.898551,...,0.855072,0.913043,0.898551,0.753623,0.797101,0.840580,0.811594,0.837681,0.061419,1
2,0.004573,0.001990,0.001807,0.000552,gini,6,56,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.913043,0.913043,...,0.840580,0.898551,0.811594,0.724638,0.811594,0.884058,0.797101,0.836232,0.061505,3
3,0.004063,0.000189,0.001589,0.000046,gini,7,56,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.898551,0.855072,...,0.826087,0.855072,0.797101,0.739130,0.811594,0.840580,0.739130,0.811594,0.051444,4
4,0.004268,0.000243,0.001626,0.000084,gini,8,56,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.855072,0.884058,...,0.826087,0.884058,0.782609,0.695652,0.811594,0.898551,0.724638,0.805797,0.074239,7
5,0.004116,0.000104,0.001570,0.000042,gini,9,56,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.869565,0.869565,...,0.811594,0.884058,0.797101,0.739130,0.768116,0.884058,0.739130,0.807246,0.063189,6
6,0.004663,0.000879,0.001924,0.000413,gini,10,56,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.869565,0.855072,...,0.826087,0.855072,0.840580,0.666667,0.811594,0.898551,0.739130,0.810145,0.068730,5
7,0.004218,0.000171,0.001706,0.000122,gini,11,56,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.869565,0.840580,...,0.826087,0.811594,0.811594,0.666667,0.797101,0.898551,0.739130,0.797101,0.068285,9
8,0.005123,0.001075,0.002790,0.002347,gini,12,56,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.869565,0.840580,...,0.811594,0.797101,0.826087,0.666667,0.797101,0.898551,0.739130,0.798551,0.064959,8
9,0.004681,0.000799,0.001937,0.000557,gini,15,56,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.869565,0.840580,...,0.811594,0.797101,0.826087,0.666667,0.797101,0.898551,0.739130,0.797101,0.066414,9
10,0.004548,0.000444,0.001752,0.000257,gini,20,56,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.869565,0.840580,...,0.811594,0.797101,0.826087,0.666667,0.797101,0.898551,0.739130,0.797101,0.066414,9
11,0.004191,0.000124,0.001627,0.000113,gini,30,56,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.869565,0.840580,...,0.811594,0.797101,0.826087,0.666667,0.797101,0.898551,0.739130,0.797101,0.066414,9
12,0.004284,0.000226,0.001698,0.000111,gini,40,56,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.869565,0.840580,...,0.811594,0.797101,0.826087,0.666667,0.797101,0.898551,0.739130,0.797101,0.066414,9
13,0.004397,0.000402,0.001754,0.000253,gini,50,56,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.869565,0.840580,...,0.811594,0.797101,0.826087,0.666667,0.797101,0.898551,0.739130,0.797101,0.066414,9
14,0.004103,0.000129,0.001622,0.000119,gini,70,56,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.869565,0.840580,...,0.811594,0.797101,0.826087,0.666667,0.797101,0.898551,0.739130,0.797101,0.066414,9
15,0.004432,0.001016,0.001649,0.000287,gini,90,56,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.869565,0.840580,...,0.811594,0.797101,0.826087,0.666667,0.797101,0.898551,0.739130,0.797101,0.066414,9
16,0.004185,0.000352,0.001575,0.000119,gini,120,56,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.869565,0.840580,...,0.811594,0.797101,0.826087,0.666667,0.797101,0.898551,0.739130,0.797101,0.066414,9
17,0.004721,0.000686,0.001693,0.000216,gini,150,56,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.869565,0.840580,...,0.811594,0.797101,0.826087,0.666667,0.797101,0.898551,0.739130,0.797101,0.066414,9

In [113]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
0,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.837681,0.059332,1
1,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.837681,0.061419,1
2,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.836232,0.061505,3
3,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.811594,0.051444,4
6,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.810145,0.068730,5
5,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.807246,0.063189,6
4,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.805797,0.074239,7
8,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.798551,0.064959,8
16,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.797101,0.066414,9
9,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.797101,0.066414,9
10,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.797101,0.066414,9
11,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.797101,0.066414,9
12,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.797101,0.066414,9
13,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.797101,0.066414,9
14,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.797101,0.066414,9
15,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.797101,0.066414,9
7,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.797101,0.068285,9
17,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.797101,0.066414,9

# Multilayer-Perceptron (redes neurais)

In [114]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [115]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('australian.dat', sep=' ', na_values='?',names=['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13'])
dataset

       1       2   3   4   5      6   7   8   9   10  11   12    13  14
0
1   22.08  11.460   2   4   4  1.585   0   0   0   1   2  100  1213   0
0   22.67   7.000   2   8   4  0.165   0   0   0   0   2  160     1   0
0   29.58   1.750   1   4   4  1.250   0   0   0   1   2  280     1   0
0   21.67  11.500   1   5   3  0.000   1   1  11   1   2    0     1   1
1   20.17   8.170   2   6   4  1.960   1   1  14   0   2   60   159   1
..    ...     ...  ..  ..  ..    ...  ..  ..  ..  ..  ..  ...   ...  ..
1   31.57  10.500   2  14   4  6.500   1   0   0   0   2    0     1   1
1   20.67   0.415   2   8   4  0.125   0   0   0   0   2    0    45   0
0   18.83   9.540   2   6   4  0.085   1   0   0   0   2  100     1   1
0   27.42  14.500   2  14   8  3.085   1   1   1   0   2  120    12   1
1   41.00   0.040   2  10   4  0.040   0   1   1   0   1  560     1   1

[690 rows x 14 columns]

In [116]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

       1       2   3   4   5      6   7   8   9   10  11   12    13  14
0
1   22.08  11.460   2   4   4  1.585   0   0   0   1   2  100  1213   0
0   22.67   7.000   2   8   4  0.165   0   0   0   0   2  160     1   0
0   29.58   1.750   1   4   4  1.250   0   0   0   1   2  280     1   0
0   21.67  11.500   1   5   3  0.000   1   1  11   1   2    0     1   1
1   20.17   8.170   2   6   4  1.960   1   1  14   0   2   60   159   1
..    ...     ...  ..  ..  ..    ...  ..  ..  ..  ..  ..  ...   ...  ..
1   31.57  10.500   2  14   4  6.500   1   0   0   0   2    0     1   1
1   20.67   0.415   2   8   4  0.125   0   0   0   0   2    0    45   0
0   18.83   9.540   2   6   4  0.085   1   0   0   0   2  100     1   1
0   27.42  14.500   2  14   8  3.085   1   1   1   0   2  120    12   1
1   41.00   0.040   2  10   4  0.040   0   1   1   0   1  560     1   1

[690 rows x 14 columns]

In [117]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'A13')
X = dataset.loc[:, dataset.columns != 'A13'] 
y = np.array(dataset.loc[:, dataset.columns == 'A13']).ravel()

In [118]:
# importa o algoritmo de classificação Multilayer-Perceptron (redes neurais)
from sklearn.neural_network import MLPClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# na MLP um parâmetro a ser testado é a quantidade de neurônios na camada escondida, 
# onde utilzamos uma tupla para representar a camada escondida.
# Por exemplo:
# (5) - Cinco neurônios e uma camada escondida
# (8, 5) - Oito neurônios na primeira camada escondida e cinco neurônios na segunda camada escondida.
# Interessante nesse projeto utilizar no máximo duas camadas para verificação 
# Quanto mais camadas e neurônios maior o tempo de processamento do algoritmo
parameters = {'hidden_layer_sizes' : [(5), (8), (15), (5, 3), (8, 5), (10, 5)],
              'max_iter' : [3000], 'random_state' : [56]}

# define o algoritmo de classificação que será usado
mlp = MLPClassifier()
gs_mlp = GridSearchCV(mlp, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_mlp.fit(X, y)

GridSearchCV(cv=10, estimator=MLPClassifier(),
             param_grid={'hidden_layer_sizes': [5, 8, 15, (5, 3), (8, 5),
                                                (10, 5)],
                         'max_iter': [3000], 'random_state': [56]},
             scoring='accuracy')

In [119]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_mlp.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
5,"{'hidden_layer_sizes': (10, 5), 'max_iter': 30...",0.721739,0.065715,1
2,"{'hidden_layer_sizes': 15, 'max_iter': 3000, '...",0.717391,0.064244,2
1,"{'hidden_layer_sizes': 8, 'max_iter': 3000, 'r...",0.704348,0.062235,3
4,"{'hidden_layer_sizes': (8, 5), 'max_iter': 300...",0.695652,0.056130,4
3,"{'hidden_layer_sizes': (5, 3), 'max_iter': 300...",0.665217,0.066871,5
0,"{'hidden_layer_sizes': 5, 'max_iter': 3000, 'r...",0.655072,0.066667,6

# Naive Bayes

In [79]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [80]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('australian.dat', sep=' ', na_values='?',names=['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13'])
dataset

             A1  A2  A3  A4     A5  A6  A7  A8  A9  A10  A11   A12  A13
1 22.08  11.460   2   4   4  1.585   0   0   0   1    2  100  1213    0
0 22.67   7.000   2   8   4  0.165   0   0   0   0    2  160     1    0
  29.58   1.750   1   4   4  1.250   0   0   0   1    2  280     1    0
  21.67  11.500   1   5   3  0.000   1   1  11   1    2    0     1    1
1 20.17   8.170   2   6   4  1.960   1   1  14   0    2   60   159    1
...         ...  ..  ..  ..    ...  ..  ..  ..  ..  ...  ...   ...  ...
  31.57  10.500   2  14   4  6.500   1   0   0   0    2    0     1    1
  20.67   0.415   2   8   4  0.125   0   0   0   0    2    0    45    0
0 18.83   9.540   2   6   4  0.085   1   0   0   0    2  100     1    1
  27.42  14.500   2  14   8  3.085   1   1   1   0    2  120    12    1
1 41.00   0.040   2  10   4  0.040   0   1   1   0    1  560     1    1

[690 rows x 13 columns]

In [81]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

             A1  A2  A3  A4     A5  A6  A7  A8  A9  A10  A11   A12  A13
1 22.08  11.460   2   4   4  1.585   0   0   0   1    2  100  1213    0
0 22.67   7.000   2   8   4  0.165   0   0   0   0    2  160     1    0
  29.58   1.750   1   4   4  1.250   0   0   0   1    2  280     1    0
  21.67  11.500   1   5   3  0.000   1   1  11   1    2    0     1    1
1 20.17   8.170   2   6   4  1.960   1   1  14   0    2   60   159    1
...         ...  ..  ..  ..    ...  ..  ..  ..  ..  ...  ...   ...  ...
  31.57  10.500   2  14   4  6.500   1   0   0   0    2    0     1    1
  20.67   0.415   2   8   4  0.125   0   0   0   0    2    0    45    0
0 18.83   9.540   2   6   4  0.085   1   0   0   0    2  100     1    1
  27.42  14.500   2  14   8  3.085   1   1   1   0    2  120    12    1
1 41.00   0.040   2  10   4  0.040   0   1   1   0    1  560     1    1

[690 rows x 13 columns]

In [82]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'A13')
X = dataset.loc[:, dataset.columns != 'A13'] 
y = np.array(dataset.loc[:, dataset.columns == 'A13']).ravel()

In [83]:
#Define os parametros do metodo Naive Bayes
param = {'var_smoothing': np.logspace(0,-9, num=100)}

In [84]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split
# importa o algoritmo Naive Bayes 
from sklearn.naive_bayes import GaussianNB
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.45, random_state=56)
# instancia o classificador
gnb = GaussianNB()
gs_NB = GridSearchCV(gnb, param, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_NB.fit(X,y)

GridSearchCV(cv=10, estimator=GaussianNB(),
             param_grid={'var_smoothing': array([1.00000000e+00, 8.11130831e-01, 6.57933225e-01, 5.33669923e-01,
       4.32876128e-01, 3.51119173e-01, 2.84803587e-01, 2.31012970e-01,
       1.87381742e-01, 1.51991108e-01, 1.23284674e-01, 1.00000000e-01,
       8.11130831e-02, 6.57933225e-02, 5.33669923e-02, 4.32876128e-02,
       3.51119173e-02, 2.84803587e-02, 2.3...
       1.23284674e-07, 1.00000000e-07, 8.11130831e-08, 6.57933225e-08,
       5.33669923e-08, 4.32876128e-08, 3.51119173e-08, 2.84803587e-08,
       2.31012970e-08, 1.87381742e-08, 1.51991108e-08, 1.23284674e-08,
       1.00000000e-08, 8.11130831e-09, 6.57933225e-09, 5.33669923e-09,
       4.32876128e-09, 3.51119173e-09, 2.84803587e-09, 2.31012970e-09,
       1.87381742e-09, 1.51991108e-09, 1.23284674e-09, 1.00000000e-09])},
             scoring='accuracy')

In [85]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_NB.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
99,{'var_smoothing': 1e-09},0.798551,0.041222,1
98,{'var_smoothing': 1.2328467394420635e-09},0.794203,0.040889,2
97,{'var_smoothing': 1.519911082952933e-09},0.792754,0.043017,3
96,{'var_smoothing': 1.873817422860387e-09},0.788406,0.044054,4
95,{'var_smoothing': 2.310129700083158e-09},0.784058,0.044646,5
...,...,...,...,...
4,{'var_smoothing': 0.43287612810830584},0.588406,0.026087,95
3,{'var_smoothing': 0.533669923120631},0.585507,0.025269,97
2,{'var_smoothing': 0.657933224657568},0.585507,0.025269,97
1,{'var_smoothing': 0.8111308307896871},0.582609,0.026566,99
0,{'var_smoothing': 1.0},0.581159,0.027075,100

# K Neighbors

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('australian.dat', sep=' ',  index_col=0, na_values='?',header=None)
dataset

       1       2   3   4   5      6   7   8   9   10  11   12    13  14
0
1   22.08  11.460   2   4   4  1.585   0   0   0   1   2  100  1213   0
0   22.67   7.000   2   8   4  0.165   0   0   0   0   2  160     1   0
0   29.58   1.750   1   4   4  1.250   0   0   0   1   2  280     1   0
0   21.67  11.500   1   5   3  0.000   1   1  11   1   2    0     1   1
1   20.17   8.170   2   6   4  1.960   1   1  14   0   2   60   159   1
..    ...     ...  ..  ..  ..    ...  ..  ..  ..  ..  ..  ...   ...  ..
1   31.57  10.500   2  14   4  6.500   1   0   0   0   2    0     1   1
1   20.67   0.415   2   8   4  0.125   0   0   0   0   2    0    45   0
0   18.83   9.540   2   6   4  0.085   1   0   0   0   2  100     1   1
0   27.42  14.500   2  14   8  3.085   1   1   1   0   2  120    12   1
1   41.00   0.040   2  10   4  0.040   0   1   1   0   1  560     1   1

[690 rows x 14 columns]

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

       1       2   3   4   5      6   7   8   9   10  11   12    13  14
0
1   22.08  11.460   2   4   4  1.585   0   0   0   1   2  100  1213   0
0   22.67   7.000   2   8   4  0.165   0   0   0   0   2  160     1   0
0   29.58   1.750   1   4   4  1.250   0   0   0   1   2  280     1   0
0   21.67  11.500   1   5   3  0.000   1   1  11   1   2    0     1   1
1   20.17   8.170   2   6   4  1.960   1   1  14   0   2   60   159   1
..    ...     ...  ..  ..  ..    ...  ..  ..  ..  ..  ..  ...   ...  ..
1   31.57  10.500   2  14   4  6.500   1   0   0   0   2    0     1   1
1   20.67   0.415   2   8   4  0.125   0   0   0   0   2    0    45   0
0   18.83   9.540   2   6   4  0.085   1   0   0   0   2  100     1   1
0   27.42  14.500   2  14   8  3.085   1   1   1   0   2  120    12   1
1   41.00   0.040   2  10   4  0.040   0   1   1   0   1  560     1   1

[690 rows x 14 columns]

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'status')
X = dataset.loc[:, dataset.columns != 14] 
y = np.array(dataset.loc[:, dataset.columns == 14]).ravel()

In [ ]:
# importa o algoritmo de classifcaçaõ k-vizinhos
from sklearn.neighbors import KNeighborsClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# no grid coloca os hiperparâmetros do algoritmo que serão testados (dicionário)
# testará o valor de k com os seguintes valores e o hiperparâmetros weights com os valores 'uniform' e 'distance'
parameters = {'n_neighbors' : [1, 3, 5, 7, 9, 11, 13], 'weights' : ['uniform', 'distance']}

# define o algoritmo de classificação que será usado
knn = KNeighborsClassifier()
''' configura o GridSearch com o algoritmo de classificação = knn (instanciado), os parâmetros testados serão os 
    definidos em parameters, usa cross-validation = 10 e a medida de avaliação é a acurácia.'''  
gs = GridSearchCV(knn, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs.fit(X, y)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 3, 5, 7, 9, 11, 13],
                         'weights': ['uniform', 'distance']},
             scoring='accuracy')

In [ ]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_neighbors,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007130,0.004869,0.011853,0.008913,1,uniform,"{'n_neighbors': 1, 'weights': 'uniform'}",0.666667,0.666667,0.695652,0.637681,0.536232,0.681159,0.637681,0.768116,0.724638,0.536232,0.655072,0.070047,13
1,0.007831,0.005296,0.005144,0.002322,1,distance,"{'n_neighbors': 1, 'weights': 'distance'}",0.666667,0.666667,0.695652,0.637681,0.536232,0.681159,0.637681,0.768116,0.724638,0.536232,0.655072,0.070047,13
2,0.005346,0.001404,0.012076,0.006689,3,uniform,"{'n_neighbors': 3, 'weights': 'uniform'}",0.666667,0.652174,0.739130,0.681159,0.710145,0.579710,0.637681,0.739130,0.681159,0.565217,0.665217,0.056298,12
3,0.005735,0.002147,0.006252,0.002753,3,distance,"{'n_neighbors': 3, 'weights': 'distance'}",0.666667,0.637681,0.753623,0.666667,0.710145,0.594203,0.637681,0.724638,0.724638,0.550725,0.666667,0.060454,11
4,0.005775,0.002666,0.008741,0.003574,5,uniform,"{'n_neighbors': 5, 'weights': 'uniform'}",0.681159,0.710145,0.695652,0.681159,0.710145,0.666667,0.695652,0.739130,0.681159,0.623188,0.688406,0.029166,7
5,0.005265,0.001904,0.005638,0.002400,5,distance,"{'n_neighbors': 5, 'weights': 'distance'}",0.637681,0.695652,0.768116,0.695652,0.681159,0.637681,0.681159,0.753623,0.681159,0.623188,0.685507,0.044928,9
6,0.007749,0.005107,0.015772,0.012171,7,uniform,"{'n_neighbors': 7, 'weights': 'uniform'}",0.695652,0.681159,0.753623,0.681159,0.753623,0.681159,0.695652,0.782609,0.666667,0.608696,0.700000,0.048089,2
7,0.004766,0.001077,0.005007,0.002027,7,distance,"{'n_neighbors': 7, 'weights': 'distance'}",0.710145,0.681159,0.782609,0.652174,0.739130,0.652174,0.695652,0.797101,0.681159,0.594203,0.698551,0.058620,3
8,0.007063,0.004880,0.009187,0.003489,9,uniform,"{'n_neighbors': 9, 'weights': 'uniform'}",0.695652,0.724638,0.724638,0.739130,0.681159,0.637681,0.623188,0.797101,0.652174,0.623188,0.689855,0.054304,6
9,0.005193,0.002047,0.004549,0.000270,9,distance,"{'n_neighbors': 9, 'weights': 'distance'}",0.710145,0.724638,0.724638,0.724638,0.681159,0.637681,0.637681,0.782609,0.666667,0.594203,0.688406,0.052754,7
10,0.007006,0.003359,0.011333,0.004793,11,uniform,"{'n_neighbors': 11, 'weights': 'uniform'}",0.695652,0.768116,0.739130,0.695652,0.724638,0.652174,0.681159,0.782609,0.637681,0.579710,0.695652,0.058691,4
11,0.005269,0.001661,0.007664,0.005682,11,distance,"{'n_neighbors': 11, 'weights': 'distance'}",0.710145,0.753623,0.710145,0.724638,0.695652,0.637681,0.666667,0.782609,0.666667,0.594203,0.694203,0.052435,5
12,0.006142,0.003695,0.009902,0.004578,13,uniform,"{'n_neighbors': 13, 'weights': 'uniform'}",0.623188,0.739130,0.681159,0.695652,0.724638,0.652174,0.623188,0.753623,0.608696,0.608696,0.671014,0.052675,10
13,0.004252,0.000251,0.005157,0.002109,13,distance,"{'n_neighbors': 13, 'weights': 'distance'}",0.710145,0.753623,0.710145,0.724638,0.695652,0.666667,0.637681,0.797101,0.681159,0.623188,0.700000,0.049382,1

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
13,"{'n_neighbors': 13, 'weights': 'distance'}",0.700000,0.049382,1
6,"{'n_neighbors': 7, 'weights': 'uniform'}",0.700000,0.048089,2
7,"{'n_neighbors': 7, 'weights': 'distance'}",0.698551,0.058620,3
10,"{'n_neighbors': 11, 'weights': 'uniform'}",0.695652,0.058691,4
11,"{'n_neighbors': 11, 'weights': 'distance'}",0.694203,0.052435,5
8,"{'n_neighbors': 9, 'weights': 'uniform'}",0.689855,0.054304,6
4,"{'n_neighbors': 5, 'weights': 'uniform'}",0.688406,0.029166,7
9,"{'n_neighbors': 9, 'weights': 'distance'}",0.688406,0.052754,7
5,"{'n_neighbors': 5, 'weights': 'distance'}",0.685507,0.044928,9
12,"{'n_neighbors': 13, 'weights': 'uniform'}",0.671014,0.052675,10
3,"{'n_neighbors': 3, 'weights': 'distance'}",0.666667,0.060454,11
2,"{'n_neighbors': 3, 'weights': 'uniform'}",0.665217,0.056298,12
0,"{'n_neighbors': 1, 'weights': 'uniform'}",0.655072,0.070047,13
1,"{'n_neighbors': 1, 'weights': 'distance'}",0.655072,0.070047,13

# Calculo da Diferenca Absoluta

Observando os resultados, podemos ver que os metodos Arvore de Decisao e Naive Bayes tem as melhores performances, logo temos que calcular a diferenca absoluta para ver qual dos dois e de fato o melhor.

In [86]:
#Calculo do desvio padrao
import math
Dp = math.sqrt(((0.059473)*(0.059473) + (0.041222	)*(0.041222	))/2)
#Calculo da media
media = (0.834783 - 0.798551)
#calcula da Diferenca Absoluta
DA = media/Dp
print(DA)
#NB < Tree

0.7081013429031139

Conclusao: A Arvore de Decisao tem uma melhor performance do que a Arvore de decisao e o restante dos algoritmos.