# Arvore de Decisao

In [2]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [14]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('DATA.csv', sep=';',  index_col=0, na_values='?')
dataset

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,1,2,1,1,1,1
STUDENT2,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,3,2,2,3,1,1
STUDENT3,2,2,2,3,2,2,2,2,4,2,...,1,1,2,2,1,1,2,2,1,1
STUDENT4,1,1,1,3,1,2,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
STUDENT5,2,2,1,3,2,2,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STUDENT141,2,1,2,3,1,1,2,1,1,2,...,1,1,2,1,2,1,3,3,9,5
STUDENT142,1,1,2,4,2,2,2,1,4,2,...,1,1,3,2,2,1,5,3,9,5
STUDENT143,1,1,1,4,2,2,2,1,1,1,...,1,1,3,3,2,1,4,3,9,1
STUDENT144,2,1,2,4,1,1,1,5,2,3,...,2,1,2,1,2,1,5,3,9,4
STUDENT145,1,1,1,5,2,2,2,3,1,1,...,2,1,3,2,3,1,5,4,9,3

In [15]:
# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,1,2,1,1,1,1
STUDENT2,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,3,2,2,3,1,1
STUDENT3,2,2,2,3,2,2,2,2,4,2,...,1,1,2,2,1,1,2,2,1,1
STUDENT4,1,1,1,3,1,2,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
STUDENT5,2,2,1,3,2,2,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STUDENT141,2,1,2,3,1,1,2,1,1,2,...,1,1,2,1,2,1,3,3,9,5
STUDENT142,1,1,2,4,2,2,2,1,4,2,...,1,1,3,2,2,1,5,3,9,5
STUDENT143,1,1,1,4,2,2,2,1,1,1,...,1,1,3,3,2,1,4,3,9,1
STUDENT144,2,1,2,4,1,1,1,5,2,3,...,2,1,2,1,2,1,5,3,9,4
STUDENT145,1,1,1,5,2,2,2,3,1,1,...,2,1,3,2,3,1,5,4,9,3

In [16]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'Dx:Cancer')
X = dataset.loc[:, dataset.columns != 'GRADE'] 
y = np.array(dataset.loc[:, dataset.columns == 'GRADE']).ravel()

In [17]:
#Define os parametros do metodo de Arvore de Decisao
parameters= {'criterion':['gini'],'max_depth':[4,5,6,7,8,9,10,11,12,15,20,30,40,50,70,90,120,150], 'random_state': [56]}

In [18]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.26, stratify=y, random_state=56)

In [19]:
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV
# importa a arvore de decisão
from sklearn.tree import DecisionTreeClassifier
# instancia o classificador 
clf = DecisionTreeClassifier()
gs_tree = GridSearchCV(clf,parameters, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_tree.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 8 members, which is less than n_splits=10.
  UserWarning,

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini'],
                         'max_depth': [4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 20, 30,
                                       40, 50, 70, 90, 120, 150],
                         'random_state': [56]},
             scoring='accuracy')

In [20]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs_tree.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_random_state,params,split0_test_score,split1_test_score,...,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004167,0.002067,0.002224,0.000693,gini,4,56,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.400000,0.200000,...,0.200000,0.200000,0.357143,0.142857,0.357143,0.285714,0.357143,0.283333,0.085456,15
1,0.003651,0.000705,0.001838,0.000157,gini,5,56,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.333333,0.266667,...,0.266667,0.200000,0.428571,0.142857,0.428571,0.428571,0.285714,0.304762,0.094185,1
2,0.003370,0.000554,0.001995,0.000277,gini,6,56,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.266667,0.133333,...,0.266667,0.400000,0.285714,0.142857,0.357143,0.357143,0.428571,0.290476,0.093895,4
3,0.003553,0.000653,0.002274,0.000476,gini,7,56,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.333333,0.200000,...,0.200000,0.400000,0.357143,0.214286,0.357143,0.285714,0.357143,0.303810,0.070302,2
4,0.003457,0.000358,0.001999,0.000276,gini,8,56,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.400000,0.133333,...,0.333333,0.333333,0.214286,0.357143,0.357143,0.285714,0.357143,0.297143,0.082015,3
5,0.003452,0.000503,0.001882,0.000315,gini,9,56,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.400000,0.200000,...,0.200000,0.333333,0.285714,0.285714,0.357143,0.285714,0.214286,0.276190,0.068313,17
6,0.003443,0.000481,0.001893,0.000245,gini,10,56,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.214286,0.285714,0.357143,0.428571,0.290476,0.076724,4
7,0.004961,0.002921,0.002364,0.000710,gini,11,56,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.333333,0.133333,...,0.266667,0.333333,0.428571,0.285714,0.285714,0.285714,0.214286,0.283333,0.073440,15
8,0.003531,0.000541,0.001905,0.000338,gini,12,56,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.285714,0.285714,0.428571,0.285714,0.270476,0.097049,18
9,0.003540,0.000808,0.001841,0.000496,gini,15,56,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.285714,0.428571,0.285714,0.428571,0.284762,0.108124,6
10,0.003141,0.000160,0.001728,0.000215,gini,20,56,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.285714,0.428571,0.285714,0.428571,0.284762,0.108124,6
11,0.003497,0.000309,0.001866,0.000264,gini,30,56,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.285714,0.428571,0.285714,0.428571,0.284762,0.108124,6
12,0.003449,0.000328,0.001904,0.000173,gini,40,56,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.285714,0.428571,0.285714,0.428571,0.284762,0.108124,6
13,0.003429,0.000245,0.001860,0.000151,gini,50,56,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.285714,0.428571,0.285714,0.428571,0.284762,0.108124,6
14,0.004020,0.000769,0.002256,0.000475,gini,70,56,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.285714,0.428571,0.285714,0.428571,0.284762,0.108124,6
15,0.003499,0.000286,0.001981,0.000277,gini,90,56,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.285714,0.428571,0.285714,0.428571,0.284762,0.108124,6
16,0.003195,0.000160,0.001714,0.000100,gini,120,56,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.285714,0.428571,0.285714,0.428571,0.284762,0.108124,6
17,0.003312,0.000216,0.001889,0.000267,gini,150,56,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.333333,0.133333,...,0.266667,0.333333,0.285714,0.285714,0.428571,0.285714,0.428571,0.284762,0.108124,6

In [21]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
1,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.304762,0.094185,1
3,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.303810,0.070302,2
4,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.297143,0.082015,3
2,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.290476,0.093895,4
6,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.290476,0.076724,4
17,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.284762,0.108124,6
15,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.284762,0.108124,6
14,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.284762,0.108124,6
16,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.284762,0.108124,6
9,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.284762,0.108124,6
10,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.284762,0.108124,6
11,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.284762,0.108124,6
12,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.284762,0.108124,6
13,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.284762,0.108124,6
0,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.283333,0.085456,15
7,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.283333,0.073440,15
5,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.276190,0.068313,17
8,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.270476,0.097049,18

# Multilayer-Perceptron (redes neurais)

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [22]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('DATA.csv', sep=';',  index_col=0, na_values='?')
dataset

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,1,2,1,1,1,1
STUDENT2,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,3,2,2,3,1,1
STUDENT3,2,2,2,3,2,2,2,2,4,2,...,1,1,2,2,1,1,2,2,1,1
STUDENT4,1,1,1,3,1,2,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
STUDENT5,2,2,1,3,2,2,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STUDENT141,2,1,2,3,1,1,2,1,1,2,...,1,1,2,1,2,1,3,3,9,5
STUDENT142,1,1,2,4,2,2,2,1,4,2,...,1,1,3,2,2,1,5,3,9,5
STUDENT143,1,1,1,4,2,2,2,1,1,1,...,1,1,3,3,2,1,4,3,9,1
STUDENT144,2,1,2,4,1,1,1,5,2,3,...,2,1,2,1,2,1,5,3,9,4
STUDENT145,1,1,1,5,2,2,2,3,1,1,...,2,1,3,2,3,1,5,4,9,3

In [23]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,1,2,1,1,1,1
STUDENT2,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,3,2,2,3,1,1
STUDENT3,2,2,2,3,2,2,2,2,4,2,...,1,1,2,2,1,1,2,2,1,1
STUDENT4,1,1,1,3,1,2,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
STUDENT5,2,2,1,3,2,2,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STUDENT141,2,1,2,3,1,1,2,1,1,2,...,1,1,2,1,2,1,3,3,9,5
STUDENT142,1,1,2,4,2,2,2,1,4,2,...,1,1,3,2,2,1,5,3,9,5
STUDENT143,1,1,1,4,2,2,2,1,1,1,...,1,1,3,3,2,1,4,3,9,1
STUDENT144,2,1,2,4,1,1,1,5,2,3,...,2,1,2,1,2,1,5,3,9,4
STUDENT145,1,1,1,5,2,2,2,3,1,1,...,2,1,3,2,3,1,5,4,9,3

In [24]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'GRADE')
X = dataset.loc[:, dataset.columns != 'GRADE'] 
y = np.array(dataset.loc[:, dataset.columns == 'GRADE']).ravel()

In [25]:
# importa o algoritmo de classificação Multilayer-Perceptron (redes neurais)
from sklearn.neural_network import MLPClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# na MLP um parâmetro a ser testado é a quantidade de neurônios na camada escondida, 
# onde utilzamos uma tupla para representar a camada escondida.
# Por exemplo:
# (5) - Cinco neurônios e uma camada escondida
# (8, 5) - Oito neurônios na primeira camada escondida e cinco neurônios na segunda camada escondida.
# Interessante nesse projeto utilizar no máximo duas camadas para verificação 
# Quanto mais camadas e neurônios maior o tempo de processamento do algoritmo
parameters = {'hidden_layer_sizes' : [(5), (8), (15), (5, 3), (8, 5), (10, 5)],
              'max_iter' : [3000], 'random_state' : [56]}

# define o algoritmo de classificação que será usado
mlp = MLPClassifier()
gs_mlp = GridSearchCV(mlp, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_mlp.fit(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 8 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

GridSearchCV(cv=10, estimator=MLPClassifier(),
             param_grid={'hidden_layer_sizes': [5, 8, 15, (5, 3), (8, 5),
                                                (10, 5)],
                         'max_iter': [3000], 'random_state': [56]},
             scoring='accuracy')

In [26]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_mlp.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
1,"{'hidden_layer_sizes': 8, 'max_iter': 3000, 'r...",0.252857,0.109967,1
4,"{'hidden_layer_sizes': (8, 5), 'max_iter': 300...",0.220952,0.099868,2
0,"{'hidden_layer_sizes': 5, 'max_iter': 3000, 'r...",0.220476,0.096069,3
2,"{'hidden_layer_sizes': 15, 'max_iter': 3000, '...",0.200476,0.057831,4
5,"{'hidden_layer_sizes': (10, 5), 'max_iter': 30...",0.184762,0.088802,5
3,"{'hidden_layer_sizes': (5, 3), 'max_iter': 300...",0.179524,0.069792,6

# Naive Bayes

In [27]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [28]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('DATA.csv', sep=';',  index_col=0, na_values='?')
dataset

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,1,2,1,1,1,1
STUDENT2,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,3,2,2,3,1,1
STUDENT3,2,2,2,3,2,2,2,2,4,2,...,1,1,2,2,1,1,2,2,1,1
STUDENT4,1,1,1,3,1,2,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
STUDENT5,2,2,1,3,2,2,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STUDENT141,2,1,2,3,1,1,2,1,1,2,...,1,1,2,1,2,1,3,3,9,5
STUDENT142,1,1,2,4,2,2,2,1,4,2,...,1,1,3,2,2,1,5,3,9,5
STUDENT143,1,1,1,4,2,2,2,1,1,1,...,1,1,3,3,2,1,4,3,9,1
STUDENT144,2,1,2,4,1,1,1,5,2,3,...,2,1,2,1,2,1,5,3,9,4
STUDENT145,1,1,1,5,2,2,2,3,1,1,...,2,1,3,2,3,1,5,4,9,3

In [29]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,1,2,1,1,1,1
STUDENT2,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,3,2,2,3,1,1
STUDENT3,2,2,2,3,2,2,2,2,4,2,...,1,1,2,2,1,1,2,2,1,1
STUDENT4,1,1,1,3,1,2,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
STUDENT5,2,2,1,3,2,2,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STUDENT141,2,1,2,3,1,1,2,1,1,2,...,1,1,2,1,2,1,3,3,9,5
STUDENT142,1,1,2,4,2,2,2,1,4,2,...,1,1,3,2,2,1,5,3,9,5
STUDENT143,1,1,1,4,2,2,2,1,1,1,...,1,1,3,3,2,1,4,3,9,1
STUDENT144,2,1,2,4,1,1,1,5,2,3,...,2,1,2,1,2,1,5,3,9,4
STUDENT145,1,1,1,5,2,2,2,3,1,1,...,2,1,3,2,3,1,5,4,9,3

In [30]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'GRADE')
X = dataset.loc[:, dataset.columns != 'GRADE'] 
y = np.array(dataset.loc[:, dataset.columns == 'GRADE']).ravel()

In [31]:
#Define os parametros do metodo Naive Bayes
param = {'var_smoothing': np.logspace(0,-9, num=100)}

In [32]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split
# importa o algoritmo Naive Bayes 
from sklearn.naive_bayes import GaussianNB
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.45, random_state=56)
# instancia o classificador
gnb = GaussianNB()
gs_NB = GridSearchCV(gnb, param, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_NB.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 8 members, which is less than n_splits=10.
  UserWarning,

GridSearchCV(cv=10, estimator=GaussianNB(),
             param_grid={'var_smoothing': array([1.00000000e+00, 8.11130831e-01, 6.57933225e-01, 5.33669923e-01,
       4.32876128e-01, 3.51119173e-01, 2.84803587e-01, 2.31012970e-01,
       1.87381742e-01, 1.51991108e-01, 1.23284674e-01, 1.00000000e-01,
       8.11130831e-02, 6.57933225e-02, 5.33669923e-02, 4.32876128e-02,
       3.51119173e-02, 2.84803587e-02, 2.3...
       1.23284674e-07, 1.00000000e-07, 8.11130831e-08, 6.57933225e-08,
       5.33669923e-08, 4.32876128e-08, 3.51119173e-08, 2.84803587e-08,
       2.31012970e-08, 1.87381742e-08, 1.51991108e-08, 1.23284674e-08,
       1.00000000e-08, 8.11130831e-09, 6.57933225e-09, 5.33669923e-09,
       4.32876128e-09, 3.51119173e-09, 2.84803587e-09, 2.31012970e-09,
       1.87381742e-09, 1.51991108e-09, 1.23284674e-09, 1.00000000e-09])},
             scoring='accuracy')

In [33]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_NB.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
13,{'var_smoothing': 0.0657933224657568},0.289524,0.080045,1
3,{'var_smoothing': 0.533669923120631},0.289048,0.056225,2
6,{'var_smoothing': 0.2848035868435802},0.276190,0.077985,3
5,{'var_smoothing': 0.3511191734215131},0.268571,0.070121,4
4,{'var_smoothing': 0.43287612810830584},0.268571,0.056029,5
...,...,...,...,...
84,{'var_smoothing': 2.310129700083158e-08},0.118571,0.084205,76
99,{'var_smoothing': 1e-09},0.118571,0.078750,76
86,{'var_smoothing': 1.519911082952933e-08},0.111905,0.080030,98
87,{'var_smoothing': 1.232846739442066e-08},0.111905,0.080030,98
88,{'var_smoothing': 1e-08},0.111905,0.080030,98

# K Neighbors

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [34]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('DATA.csv', sep=';',  index_col=0, na_values='?')
dataset

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,1,2,1,1,1,1
STUDENT2,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,3,2,2,3,1,1
STUDENT3,2,2,2,3,2,2,2,2,4,2,...,1,1,2,2,1,1,2,2,1,1
STUDENT4,1,1,1,3,1,2,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
STUDENT5,2,2,1,3,2,2,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STUDENT141,2,1,2,3,1,1,2,1,1,2,...,1,1,2,1,2,1,3,3,9,5
STUDENT142,1,1,2,4,2,2,2,1,4,2,...,1,1,3,2,2,1,5,3,9,5
STUDENT143,1,1,1,4,2,2,2,1,1,1,...,1,1,3,3,2,1,4,3,9,1
STUDENT144,2,1,2,4,1,1,1,5,2,3,...,2,1,2,1,2,1,5,3,9,4
STUDENT145,1,1,1,5,2,2,2,3,1,1,...,2,1,3,2,3,1,5,4,9,3

In [35]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
STUDENT ID,,,,,,,,,,,,,,,,,,,,,
STUDENT1,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,1,2,1,1,1,1
STUDENT2,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,3,2,2,3,1,1
STUDENT3,2,2,2,3,2,2,2,2,4,2,...,1,1,2,2,1,1,2,2,1,1
STUDENT4,1,1,1,3,1,2,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
STUDENT5,2,2,1,3,2,2,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STUDENT141,2,1,2,3,1,1,2,1,1,2,...,1,1,2,1,2,1,3,3,9,5
STUDENT142,1,1,2,4,2,2,2,1,4,2,...,1,1,3,2,2,1,5,3,9,5
STUDENT143,1,1,1,4,2,2,2,1,1,1,...,1,1,3,3,2,1,4,3,9,1
STUDENT144,2,1,2,4,1,1,1,5,2,3,...,2,1,2,1,2,1,5,3,9,4
STUDENT145,1,1,1,5,2,2,2,3,1,1,...,2,1,3,2,3,1,5,4,9,3

In [36]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'GRADE')
X = dataset.loc[:, dataset.columns != 'GRADE'] 
y = np.array(dataset.loc[:, dataset.columns == 'GRADE']).ravel()

In [37]:
# importa o algoritmo de classifcaçaõ k-vizinhos
from sklearn.neighbors import KNeighborsClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# no grid coloca os hiperparâmetros do algoritmo que serão testados (dicionário)
# testará o valor de k com os seguintes valores e o hiperparâmetros weights com os valores 'uniform' e 'distance'
parameters = {'n_neighbors' : [1, 3, 5, 7, 9, 11, 13], 'weights' : ['uniform', 'distance']}

# define o algoritmo de classificação que será usado
knn = KNeighborsClassifier()
''' configura o GridSearch com o algoritmo de classificação = knn (instanciado), os parâmetros testados serão os 
    definidos em parameters, usa cross-validation = 10 e a medida de avaliação é a acurácia.'''  
gs = GridSearchCV(knn, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs.fit(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 8 members, which is less than n_splits=10.
  UserWarning,

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 3, 5, 7, 9, 11, 13],
                         'weights': ['uniform', 'distance']},
             scoring='accuracy')

In [38]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_neighbors,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002434,0.000873,0.002779,0.000204,1,uniform,"{'n_neighbors': 1, 'weights': 'uniform'}",0.400000,0.133333,0.266667,0.133333,0.200000,0.142857,0.285714,0.285714,0.142857,0.142857,0.213333,0.087204,13
1,0.002468,0.000837,0.002467,0.000110,1,distance,"{'n_neighbors': 1, 'weights': 'distance'}",0.400000,0.133333,0.266667,0.133333,0.200000,0.142857,0.285714,0.285714,0.142857,0.142857,0.213333,0.087204,13
2,0.002216,0.000214,0.002786,0.000270,3,uniform,"{'n_neighbors': 3, 'weights': 'uniform'}",0.333333,0.266667,0.266667,0.266667,0.266667,0.357143,0.571429,0.214286,0.142857,0.142857,0.282857,0.116743,6
3,0.003105,0.001589,0.003238,0.000909,3,distance,"{'n_neighbors': 3, 'weights': 'distance'}",0.333333,0.133333,0.200000,0.200000,0.400000,0.214286,0.428571,0.357143,0.214286,0.142857,0.262381,0.101941,10
4,0.002395,0.000310,0.003074,0.000380,5,uniform,"{'n_neighbors': 5, 'weights': 'uniform'}",0.266667,0.333333,0.200000,0.333333,0.466667,0.357143,0.500000,0.500000,0.214286,0.285714,0.345714,0.105371,1
5,0.002130,0.000120,0.002626,0.000198,5,distance,"{'n_neighbors': 5, 'weights': 'distance'}",0.333333,0.200000,0.200000,0.266667,0.400000,0.214286,0.500000,0.500000,0.214286,0.214286,0.304286,0.115793,2
6,0.002083,0.000072,0.002790,0.000223,7,uniform,"{'n_neighbors': 7, 'weights': 'uniform'}",0.333333,0.333333,0.200000,0.333333,0.266667,0.357143,0.285714,0.357143,0.142857,0.428571,0.303810,0.078904,3
7,0.002455,0.000507,0.002541,0.000167,7,distance,"{'n_neighbors': 7, 'weights': 'distance'}",0.333333,0.333333,0.200000,0.333333,0.400000,0.285714,0.285714,0.357143,0.142857,0.285714,0.295714,0.071917,4
8,0.002154,0.000228,0.002761,0.000329,9,uniform,"{'n_neighbors': 9, 'weights': 'uniform'}",0.200000,0.066667,0.266667,0.200000,0.266667,0.571429,0.071429,0.357143,0.142857,0.285714,0.242857,0.140746,11
9,0.002201,0.000421,0.002557,0.000261,9,distance,"{'n_neighbors': 9, 'weights': 'distance'}",0.200000,0.133333,0.200000,0.200000,0.400000,0.428571,0.214286,0.357143,0.214286,0.285714,0.263333,0.094354,9
10,0.002056,0.000246,0.002696,0.000170,11,uniform,"{'n_neighbors': 11, 'weights': 'uniform'}",0.266667,0.133333,0.200000,0.333333,0.266667,0.571429,0.285714,0.285714,0.142857,0.214286,0.270000,0.117573,8
11,0.002883,0.001011,0.003592,0.001548,11,distance,"{'n_neighbors': 11, 'weights': 'distance'}",0.266667,0.200000,0.200000,0.333333,0.400000,0.571429,0.285714,0.285714,0.142857,0.214286,0.290000,0.117194,5
12,0.002382,0.000416,0.003125,0.000745,13,uniform,"{'n_neighbors': 13, 'weights': 'uniform'}",0.266667,0.133333,0.333333,0.266667,0.200000,0.428571,0.285714,0.214286,0.071429,0.142857,0.234286,0.099473,12
13,0.002651,0.000476,0.002902,0.000530,13,distance,"{'n_neighbors': 13, 'weights': 'distance'}",0.266667,0.200000,0.266667,0.200000,0.266667,0.571429,0.285714,0.214286,0.214286,0.214286,0.270000,0.105001,7

In [39]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
4,"{'n_neighbors': 5, 'weights': 'uniform'}",0.345714,0.105371,1
5,"{'n_neighbors': 5, 'weights': 'distance'}",0.304286,0.115793,2
6,"{'n_neighbors': 7, 'weights': 'uniform'}",0.303810,0.078904,3
7,"{'n_neighbors': 7, 'weights': 'distance'}",0.295714,0.071917,4
11,"{'n_neighbors': 11, 'weights': 'distance'}",0.290000,0.117194,5
2,"{'n_neighbors': 3, 'weights': 'uniform'}",0.282857,0.116743,6
13,"{'n_neighbors': 13, 'weights': 'distance'}",0.270000,0.105001,7
10,"{'n_neighbors': 11, 'weights': 'uniform'}",0.270000,0.117573,8
9,"{'n_neighbors': 9, 'weights': 'distance'}",0.263333,0.094354,9
3,"{'n_neighbors': 3, 'weights': 'distance'}",0.262381,0.101941,10
8,"{'n_neighbors': 9, 'weights': 'uniform'}",0.242857,0.140746,11
12,"{'n_neighbors': 13, 'weights': 'uniform'}",0.234286,0.099473,12
0,"{'n_neighbors': 1, 'weights': 'uniform'}",0.213333,0.087204,13
1,"{'n_neighbors': 1, 'weights': 'distance'}",0.213333,0.087204,13

# Calculo da Diferenca Absoluta

Observando os resultados, podemos ver que os metodos MLP e Arvore de Decisao tem as melhores performances, logo temos que calcular a diferenca absoluta para ver qual dos dois e de fato o melhor

In [ ]:
#Calculo do desvio padrao
import math
Dp = math.sqrt(((0.121518)*(0.121518) + (0.059363)*(0.059363))/2)
#Calculo da media
media = (0.813421 - 0.815385)
#calcula da Diferenca Absoluta
DA = media/Dp
print(DA)
#MLP >performance Tree

-0.020537265746999902

Conclusao: O MLP tem uma melhor performance do que a Arvore de decisao e o restante dos algoritmos