# Arvore de Decisao

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('zoo.data', sep=',', na_values='?', names=['name','hair','feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic','catsize','type'])
dataset

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [ ]:
dataset = pd.get_dummies(dataset)
dataset

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,name_tuatara,name_tuna,name_vampire,name_vole,name_vulture,name_wallaby,name_wasp,name_wolf,name_worm,name_wren
0,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,...,0,0,0,0,0,1,0,0,0,0
97,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
98,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
99,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
100,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'type')
X = dataset.loc[:, dataset.columns != 'type'] 
y = np.array(dataset.loc[:, dataset.columns == 'type']).ravel()

In [ ]:
#Define os parametros do metodo de Arvore de Decisao
parameters= {'criterion':['gini'],'max_depth':[4,5,6,7,8,9,10,11,12,15,20,30,40,50,70,90,120,150], 'random_state': [56]}

In [ ]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.26, stratify=y, random_state=56)

In [ ]:
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV
# importa a arvore de decisão
from sklearn.tree import DecisionTreeClassifier
# instancia o classificador 
clf = DecisionTreeClassifier()
gs_tree = GridSearchCV(clf,parameters, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_tree.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  UserWarning,

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini'],
                         'max_depth': [4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 20, 30,
                                       40, 50, 70, 90, 120, 150],
                         'random_state': [56]},
             scoring='accuracy')

In [ ]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs_tree.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_random_state,params,split0_test_score,split1_test_score,...,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004201,0.001635,0.002713,0.000787,gini,4,56,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.818182,0.9,...,0.9,0.8,0.8,0.9,0.9,0.8,0.9,0.861818,0.047027,18
1,0.003660,0.000669,0.002390,0.000453,gini,5,56,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.9,0.9,0.920909,0.059758,1
2,0.003493,0.000509,0.002421,0.000514,gini,6,56,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,0.9,0.910909,0.069923,17
3,0.004485,0.001026,0.002930,0.000789,gini,7,56,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
4,0.003964,0.000733,0.002748,0.000684,gini,8,56,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
5,0.003224,0.000118,0.002179,0.000050,gini,9,56,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
6,0.003482,0.000724,0.002606,0.001036,gini,10,56,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
7,0.003683,0.001009,0.002342,0.000295,gini,11,56,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
8,0.003124,0.000069,0.002139,0.000044,gini,12,56,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
9,0.003196,0.000117,0.002394,0.000614,gini,15,56,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
10,0.003372,0.000380,0.002274,0.000114,gini,20,56,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
11,0.003598,0.000797,0.002321,0.000360,gini,30,56,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
12,0.003395,0.000592,0.002182,0.000078,gini,40,56,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
13,0.003183,0.000051,0.002226,0.000093,gini,50,56,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
14,0.003801,0.001049,0.002987,0.001708,gini,70,56,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
15,0.003433,0.000416,0.002231,0.000182,gini,90,56,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
16,0.003885,0.001204,0.002721,0.000778,gini,120,56,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1
17,0.003196,0.000095,0.002205,0.000117,gini,150,56,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.909091,1.0,...,1.0,0.9,0.9,0.8,0.9,0.8,1.0,0.920909,0.074640,1

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
8,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.920909,0.074640,1
15,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.920909,0.074640,1
14,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.920909,0.074640,1
13,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.920909,0.074640,1
12,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.920909,0.074640,1
11,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.920909,0.074640,1
10,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.920909,0.074640,1
9,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.920909,0.074640,1
17,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.920909,0.074640,1
7,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.920909,0.074640,1
6,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.920909,0.074640,1
5,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.920909,0.074640,1
4,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.920909,0.074640,1
3,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.920909,0.074640,1
1,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.920909,0.059758,1
16,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.920909,0.074640,1
2,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.910909,0.069923,17
0,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.861818,0.047027,18

# Multilayer-Perceptron (redes neurais)

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('zoo.data', sep=',', na_values='?', names=['name','hair','feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic','catsize','type'])
dataset

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [ ]:
#transforma dados categóricos em numericos
dataset = pd.get_dummies(dataset)
dataset

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,name_tuatara,name_tuna,name_vampire,name_vole,name_vulture,name_wallaby,name_wasp,name_wolf,name_worm,name_wren
0,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,...,0,0,0,0,0,1,0,0,0,0
97,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
98,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
99,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
100,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'type')
X = dataset.loc[:, dataset.columns != 'type'] 
y = np.array(dataset.loc[:, dataset.columns == 'type']).ravel()

In [ ]:
# importa o algoritmo de classificação Multilayer-Perceptron (redes neurais)
from sklearn.neural_network import MLPClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# na MLP um parâmetro a ser testado é a quantidade de neurônios na camada escondida, 
# onde utilzamos uma tupla para representar a camada escondida.
# Por exemplo:
# (5) - Cinco neurônios e uma camada escondida
# (8, 5) - Oito neurônios na primeira camada escondida e cinco neurônios na segunda camada escondida.
# Interessante nesse projeto utilizar no máximo duas camadas para verificação 
# Quanto mais camadas e neurônios maior o tempo de processamento do algoritmo
parameters = {'hidden_layer_sizes' : [(5), (8), (15), (5, 3), (8, 5), (10, 5)],
              'max_iter' : [3000], 'random_state' : [56]}

# define o algoritmo de classificação que será usado
mlp = MLPClassifier()
gs_mlp = GridSearchCV(mlp, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_mlp.fit(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  UserWarning,

GridSearchCV(cv=10, estimator=MLPClassifier(),
             param_grid={'hidden_layer_sizes': [5, 8, 15, (5, 3), (8, 5),
                                                (10, 5)],
                         'max_iter': [3000], 'random_state': [56]},
             scoring='accuracy')

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_mlp.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
2,"{'hidden_layer_sizes': 15, 'max_iter': 3000, '...",0.960000,0.048990,1
1,"{'hidden_layer_sizes': 8, 'max_iter': 3000, 'r...",0.920000,0.074833,2
4,"{'hidden_layer_sizes': (8, 5), 'max_iter': 300...",0.900000,0.077460,3
5,"{'hidden_layer_sizes': (10, 5), 'max_iter': 30...",0.861818,0.090618,4
0,"{'hidden_layer_sizes': 5, 'max_iter': 3000, 'r...",0.840000,0.135647,5
3,"{'hidden_layer_sizes': (5, 3), 'max_iter': 300...",0.821818,0.059641,6

# Naive Bayes

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('zoo.data', sep=',', na_values='?', names=['name','hair','feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic','catsize','type'])
dataset

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [ ]:
dataset = pd.get_dummies(dataset)
dataset

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,name_tuatara,name_tuna,name_vampire,name_vole,name_vulture,name_wallaby,name_wasp,name_wolf,name_worm,name_wren
0,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,...,0,0,0,0,0,1,0,0,0,0
97,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
98,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
99,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
100,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'type')
X = dataset.loc[:, dataset.columns != 'type'] 
y = np.array(dataset.loc[:, dataset.columns == 'type']).ravel()

In [ ]:
#Define os parametros do metodo Naive Bayes
param = {'var_smoothing': np.logspace(0,-9, num=100)}

In [ ]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split
# importa o algoritmo Naive Bayes 
from sklearn.naive_bayes import GaussianNB
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.45, random_state=56)
# instancia o classificador
gnb = GaussianNB()
gs_NB = GridSearchCV(gnb, param, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_NB.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  UserWarning,

GridSearchCV(cv=10, estimator=GaussianNB(),
             param_grid={'var_smoothing': array([1.00000000e+00, 8.11130831e-01, 6.57933225e-01, 5.33669923e-01,
       4.32876128e-01, 3.51119173e-01, 2.84803587e-01, 2.31012970e-01,
       1.87381742e-01, 1.51991108e-01, 1.23284674e-01, 1.00000000e-01,
       8.11130831e-02, 6.57933225e-02, 5.33669923e-02, 4.32876128e-02,
       3.51119173e-02, 2.84803587e-02, 2.3...
       1.23284674e-07, 1.00000000e-07, 8.11130831e-08, 6.57933225e-08,
       5.33669923e-08, 4.32876128e-08, 3.51119173e-08, 2.84803587e-08,
       2.31012970e-08, 1.87381742e-08, 1.51991108e-08, 1.23284674e-08,
       1.00000000e-08, 8.11130831e-09, 6.57933225e-09, 5.33669923e-09,
       4.32876128e-09, 3.51119173e-09, 2.84803587e-09, 2.31012970e-09,
       1.87381742e-09, 1.51991108e-09, 1.23284674e-09, 1.00000000e-09])},
             scoring='accuracy')

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_NB.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
20,{'var_smoothing': 0.01519911082952933},0.970000,0.045826,1
19,{'var_smoothing': 0.01873817422860384},0.970000,0.045826,1
49,{'var_smoothing': 3.511191734215127e-05},0.960000,0.048990,3
72,{'var_smoothing': 2.848035868435799e-07},0.960000,0.048990,3
71,{'var_smoothing': 3.5111917342151277e-07},0.960000,0.048990,3
...,...,...,...,...
4,{'var_smoothing': 0.43287612810830584},0.811818,0.083026,95
3,{'var_smoothing': 0.533669923120631},0.781818,0.060848,97
2,{'var_smoothing': 0.657933224657568},0.781818,0.060848,97
1,{'var_smoothing': 0.8111308307896871},0.771818,0.078986,99
0,{'var_smoothing': 1.0},0.722727,0.059648,100

# K Neighbors

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('zoo.data', sep=',', na_values='?', names=['name','hair','feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic','catsize','type'])
dataset

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [ ]:
dataset = pd.get_dummies(dataset)
dataset

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,name_tuatara,name_tuna,name_vampire,name_vole,name_vulture,name_wallaby,name_wasp,name_wolf,name_worm,name_wren
0,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,...,0,0,0,0,0,1,0,0,0,0
97,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
98,1,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
99,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
100,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'type')
X = dataset.loc[:, dataset.columns != 'type'] 
y = np.array(dataset.loc[:, dataset.columns == 'type']).ravel()

In [ ]:
# importa o algoritmo de classifcaçaõ k-vizinhos
from sklearn.neighbors import KNeighborsClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# no grid coloca os hiperparâmetros do algoritmo que serão testados (dicionário)
# testará o valor de k com os seguintes valores e o hiperparâmetros weights com os valores 'uniform' e 'distance'
parameters = {'n_neighbors' : [1, 3, 5, 7, 9, 11, 13], 'weights' : ['uniform', 'distance']}

# define o algoritmo de classificação que será usado
knn = KNeighborsClassifier()
''' configura o GridSearch com o algoritmo de classificação = knn (instanciado), os parâmetros testados serão os 
    definidos em parameters, usa cross-validation = 10 e a medida de avaliação é a acurácia.'''  
gs = GridSearchCV(knn, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs.fit(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  UserWarning,

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 3, 5, 7, 9, 11, 13],
                         'weights': ['uniform', 'distance']},
             scoring='accuracy')

In [ ]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_neighbors,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003310,0.001301,0.003571,0.000974,1,uniform,"{'n_neighbors': 1, 'weights': 'uniform'}",1.000000,1.0,1.0,1.0,1.0,1.0,0.9,1.0,1.0,0.9,0.980000,0.040000,1
1,0.002743,0.000195,0.003052,0.000442,1,distance,"{'n_neighbors': 1, 'weights': 'distance'}",1.000000,1.0,1.0,1.0,1.0,1.0,0.9,1.0,1.0,0.9,0.980000,0.040000,1
2,0.002801,0.000133,0.003466,0.000552,3,uniform,"{'n_neighbors': 3, 'weights': 'uniform'}",1.000000,1.0,1.0,1.0,1.0,0.9,0.9,0.9,0.9,0.9,0.950000,0.050000,3
3,0.003237,0.000687,0.003432,0.000747,3,distance,"{'n_neighbors': 3, 'weights': 'distance'}",1.000000,1.0,1.0,1.0,1.0,0.9,0.9,0.9,0.9,0.9,0.950000,0.050000,3
4,0.003398,0.000768,0.003990,0.000845,5,uniform,"{'n_neighbors': 5, 'weights': 'uniform'}",0.909091,0.9,0.8,0.9,1.0,0.9,0.9,0.8,0.8,0.9,0.880909,0.060364,5
5,0.002877,0.000308,0.003461,0.000668,5,distance,"{'n_neighbors': 5, 'weights': 'distance'}",0.909091,0.9,0.8,0.9,1.0,0.9,0.9,0.8,0.8,0.9,0.880909,0.060364,5
6,0.003573,0.000894,0.003808,0.000912,7,uniform,"{'n_neighbors': 7, 'weights': 'uniform'}",0.818182,0.9,0.8,0.9,0.9,0.9,0.8,0.7,0.8,0.9,0.841818,0.065455,8
7,0.002657,0.000162,0.003205,0.000831,7,distance,"{'n_neighbors': 7, 'weights': 'distance'}",0.909091,0.9,0.8,0.9,0.9,0.9,0.9,0.8,0.8,0.9,0.870909,0.046497,7
8,0.002762,0.000174,0.003312,0.000223,9,uniform,"{'n_neighbors': 9, 'weights': 'uniform'}",0.818182,0.9,0.7,0.8,0.8,0.8,0.8,0.7,0.7,0.8,0.781818,0.060848,11
9,0.003231,0.000623,0.003585,0.000781,9,distance,"{'n_neighbors': 9, 'weights': 'distance'}",0.818182,0.9,0.8,0.9,0.9,0.9,0.8,0.7,0.8,0.9,0.841818,0.065455,8
10,0.002816,0.000387,0.003238,0.000345,11,uniform,"{'n_neighbors': 11, 'weights': 'uniform'}",0.818182,0.9,0.7,0.8,0.8,0.8,0.8,0.7,0.7,0.8,0.781818,0.060848,11
11,0.002708,0.000254,0.003062,0.000383,11,distance,"{'n_neighbors': 11, 'weights': 'distance'}",0.818182,0.9,0.8,0.9,0.8,0.9,0.8,0.7,0.8,0.8,0.821818,0.059641,10
12,0.002890,0.000390,0.003461,0.000757,13,uniform,"{'n_neighbors': 13, 'weights': 'uniform'}",0.818182,0.9,0.7,0.8,0.8,0.8,0.8,0.7,0.7,0.8,0.781818,0.060848,11
13,0.002655,0.000051,0.002915,0.000041,13,distance,"{'n_neighbors': 13, 'weights': 'distance'}",0.818182,0.9,0.7,0.8,0.8,0.8,0.8,0.7,0.7,0.8,0.781818,0.060848,11

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
0,"{'n_neighbors': 1, 'weights': 'uniform'}",0.980000,0.040000,1
1,"{'n_neighbors': 1, 'weights': 'distance'}",0.980000,0.040000,1
2,"{'n_neighbors': 3, 'weights': 'uniform'}",0.950000,0.050000,3
3,"{'n_neighbors': 3, 'weights': 'distance'}",0.950000,0.050000,3
4,"{'n_neighbors': 5, 'weights': 'uniform'}",0.880909,0.060364,5
5,"{'n_neighbors': 5, 'weights': 'distance'}",0.880909,0.060364,5
7,"{'n_neighbors': 7, 'weights': 'distance'}",0.870909,0.046497,7
6,"{'n_neighbors': 7, 'weights': 'uniform'}",0.841818,0.065455,8
9,"{'n_neighbors': 9, 'weights': 'distance'}",0.841818,0.065455,8
11,"{'n_neighbors': 11, 'weights': 'distance'}",0.821818,0.059641,10
8,"{'n_neighbors': 9, 'weights': 'uniform'}",0.781818,0.060848,11
10,"{'n_neighbors': 11, 'weights': 'uniform'}",0.781818,0.060848,11
12,"{'n_neighbors': 13, 'weights': 'uniform'}",0.781818,0.060848,11
13,"{'n_neighbors': 13, 'weights': 'distance'}",0.781818,0.060848,11

# Calculo da Diferenca Absoluta

Observando os resultados, podemos ver que os metodos Naive Bayes e KNN tem as melhores performances, logo temos que calcular a diferenca absoluta para ver qual dos dois e de fato o melhor

In [ ]:
#Calculo do desvio padrao
import math
Dp = math.sqrt(((0.045826)*(00.045826) + (0.040000)*(0.040000))/2)
#Calculo da media
media = (0.970000 - 0.980000)
#calcula da Diferenca Absoluta
DA = media/Dp
print(DA)
#KNN > Naive Bayes

-0.23249457761717718

Conclusao: O KNN tem uma melhor performance do que o Naive Bayes e o restante dos algoritmos